<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
   
   
<mapper namespace="kr.whenever.repo.mapper.QuestionMapper">
    <resultMap id="questionResultMap" type="Question" >
        <id     	property="id"        	column="QUESTION_ID"/>
        <result 	property="section"		column="QUESTION_SECTION"/>
        <result 	property="answer"  		column="ANSWER"/>
        <result 	property="content"  	column="QUESTION_CONTENT"/>
        <result 	property="selection1"	column="SELECTION_1"/>
        <result 	property="selection2"	column="SELECTION_2"/>
        <result 	property="selection3"	column="SELECTION_3"/>
        <result 	property="selection4"	column="SELECTION_4"/>
        <result 	property="selection5"	column="SELECTION_5"/>
        <result 	property="keyword"  	column="QUESTION_KEYWORD"/>
    </resultMap>

    <insert id="insertQuestion" parameterType="Question">
		INSERT INTO W_QUESTION (        	
        	QUESTION_SECTION
        	,ANSWER		
        	,QUESTION_CONTENT	
        	,SELECTION_1
        	,SELECTION_2
        	,SELECTION_3
        	,SELECTION_4
        	,SELECTION_5
        	,QUESTION_KEYWORD
        	)
        VALUES (
        #{section}
        ,#{answer}
        ,#{content}
        ,#{selection1}
        ,#{selection2}
        ,#{selection3}
        ,#{selection4}
        ,#{selection5}
        ,#{keyword}
        )
    </insert>
    
    <update id="updateQuestion" parameterType="Question">
    	UPDATE W_QUESTION
   		SET 
   			QUESTION_ID = #{id}
   			,QUESTION_SECTION = #{section}
   			,ANSWER = #{answer}
   			,QUESTION_CONTENT = #{content}
   			,SELECTION_1 = #{selection1}
   			,SELECTION_2 = #{selection2}
   			,SELECTION_3 = #{selection3}
   			,SELECTION_4 = #{selection4}
   			,SELECTION_5 = #{selection5}
   			,QUESTION_KEYWORD = #{keyword}
 		WHERE id = #{id};
    </update>
    
    <delete id="deleteQuestion" parameterType="int">
    	DELETE
		FROM W_QUESTION
		WHERE QUESTION_ID = #{id}
    </delete>
    
    <select id="selectQuestion" parameterType="int" resultMap="questionResultMap">
		SELECT 
        	QUESTION_ID
        	,QUESTION_SECTION
        	,ANSWER		
        	,QUESTION_CONTENT	
        	,SELECTION_1
        	,SELECTION_2
        	,SELECTION_3
        	,SELECTION_4
        	,SELECTION_5
        	,QUESTION_KEYWORD
		  FROM W_QUESTION
		  WHERE QUESTION_ID = #{id}
    </select>
	
	<select id="selectQuestions" resultMap="questionResultMap">
		SELECT 
        	QUESTION_ID
        	,QUESTION_SECTION
        	,ANSWER
        	,QUESTION_CONTENT
        	,SELECTION_1
        	,SELECTION_2
        	,SELECTION_3
        	,SELECTION_4
        	,SELECTION_5
        	,QUESTION_KEYWORD
		  FROM W_QUESTION
	</select>
    
</mapper>