<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
   
   
<mapper namespace="kr.whenever.repo.mapper.QuizMapper">
    <resultMap id="quizResultMap" type="Quiz" >
        <id     	property="id"        	column="QUIZ_ID"/>
        <result 	property="section"		column="QUIZ_SECTION"/>
        <result 	property="answer"  		column="ANSWER"/>
        <result 	property="content"  	column="QUIZ_CONTENT"/>
        <result 	property="selection1"	column="SELECTION_1"/>
        <result 	property="selection2"	column="SELECTION_2"/>
        <result 	property="selection3"	column="SELECTION_3"/>
        <result 	property="selection4"	column="SELECTION_4"/>
        <result 	property="selection5"	column="SELECTION_5"/>
        <result 	property="keyword"  	column="QUIZ_KEYWORD"/>
    </resultMap>

    <insert id="insertQuiz" parameterType="Quiz">
		INSERT INTO W_QUIZ (        	
        	QUIZ_SECTION
        	,ANSWER		
        	,QUIZ_CONTENT	
        	,SELECTION_1
        	,SELECTION_2
        	,SELECTION_3
        	,SELECTION_4
        	,SELECTION_5
        	,QUIZ_KEYWORD
        	)
        VALUES (
        #{section}
        ,#{answer}
        ,#{content}
        ,#{selection1}
        ,#{selection2}
        ,#{selection3}
        ,#{selection4}
        ,#{selection5}
        ,#{keyword}
        )
    </insert>
    
    <update id="updateQuiz" parameterType="Quiz">
    	UPDATE W_QUIZ
   		SET 
   			QUIZ_ID = #{id}
   			,QUIZ_SECTION = #{section}
   			,ANSWER = #{answer}
   			,QUIZ_CONTENT = #{content}
   			,SELECTION_1 = #{selection1}
   			,SELECTION_2 = #{selection2}
   			,SELECTION_3 = #{selection3}
   			,SELECTION_4 = #{selection4}
   			,SELECTION_5 = #{selection5}
   			,QUIZ_KEYWORD = #{keyword}
 		WHERE id = #{id};
    </update>
    
    <delete id="deleteQuiz" parameterType="int">
    	DELETE
		FROM W_QUIZ
		WHERE QUIZ_ID = #{id}
    </delete>
    
    <select id="selectQuiz" parameterType="int" resultMap="quizResultMap">
		SELECT 
        	QUIZ_ID
        	,QUIZ_SECTION
        	,ANSWER		
        	,QUIZ_CONTENT	
        	,SELECTION_1
        	,SELECTION_2
        	,SELECTION_3
        	,SELECTION_4
        	,SELECTION_5
        	,QUIZ_KEYWORD
		  FROM W_QUIZ
		  WHERE QUIZ_ID = #{id}
    </select>
	
	<select id="selectQuizs" resultMap="quizResultMap">
		SELECT 
        	QUIZ_ID
        	,QUIZ_SECTION
        	,ANSWER
        	,QUIZ_CONTENT
        	,SELECTION_1
        	,SELECTION_2
        	,SELECTION_3
        	,SELECTION_4
        	,SELECTION_5
        	,QUIZ_KEYWORD
		  FROM W_QUIZ
	</select>
    
</mapper>