<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
   
   
<mapper namespace="kr.whenever.repo.mapper.UserMapper">
    <resultMap id="userResultMap" type="User" >
        <id     	property="id"        		column="USER_ID"/>
        <result		property="password"			column="PASSWORD"/>
        <result		property="nickname"			column="NICKNAME"/>
        <result 	property="cellPhoneNo1"  	column="USER_PHONE"/>
        <result 	property="cellPhoneNo2"  	column="OTHER_PHONE"/>
        <result 	property="birthDate"  		column="BIRTH_DATE"/>
        <result 	property="school"	  		column="USER_SCHOOL"/>
        <result 	property="type"	  			column="USER_TYPE"/>
    </resultMap>

    <insert id="insertUser" parameterType="User">
		INSERT INTO W_USER (
        	USER_ID
        	,PASSWORD
        	,NICKNAME
        	,USER_PHONE
        	,OTHER_PHONE
        	,BIRTH_DATE
        	,USER_SCHOOL
        	,USER_TYPE
        	)
        VALUES (
        #{id}
        ,#{password}
        ,#{nickname}
        ,#{cellPhoneNo1}
        ,#{cellPhoneNo2}
        ,#{birthDate}
        ,#{school}
        ,#{type}
        )
    </insert>
    
    <update id="updateUser" parameterType="User">
    	UPDATE W_USER
   		SET 
   			PASSWORD = #{password}
   			,NICKNAME = #{nickname}
   			,USER_PHONE = #{cellPhoneNo1}
   			,OTHER_PHONE = #{cellPhoneNo2}
   			,BIRTH_DATE = #{birthDate}
   			,USER_SCHOOL = #{school}
 		WHERE USER_ID = #{id};
    </update>
    
    <delete id="deleteUser" parameterType="String">
    	DELETE
		FROM W_USER
		WHERE USER_ID = #{id}
    </delete>
    
    <select id="selectUser" parameterType="String" resultMap="userResultMap">
		SELECT 
			USER_ID
			,PASSWORD
        	,NICKNAME
        	,USER_PHONE
        	,OTHER_PHONE
        	,BIRTH_DATE
        	,USER_SCHOOL
        	,USER_TYPE
		  FROM W_USER
		  WHERE USER_ID = #{id}
    </select>
	
	<select id="selectUserList" resultMap="userResultMap">
		SELECT 
			USER_ID
			,NICKNAME
			,USER_PHONE
			,BIRTH_DATE
			,USER_TYPE
		  FROM W_USER
	</select>
    
</mapper>