<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
   
   
<mapper namespace="kr.whenever.repo.mapper.UserMapper">
    <resultMap id="userResultMap" type="User" >
        <id     	property="id"        			column="id"/>
        <result 	property="email"         		column="email"/>
        <result 	property="cellPhoneNo"  	column="cell_phone_no"/>
        <result 	property="birthDate"  		column="birth_date"/>
    </resultMap>

    <insert id="insertUser" parameterType="User">
		INSERT INTO user (
        	email
        	,cell_phone_no
        	,birth_date
        	)
        VALUES (
        #{email}
        ,#{cellPhoneNo}
        ,#{birthDate}
        )
    </insert>
    
    <update id="updateUser" parameterType="User">
    	UPDATE user
   		SET 
   			email = #{email}
   			,cell_phone_no = #{cellPhoneNo}
   			,birth_date = #{birthDate}
 		WHERE id = #{id};
    </update>
    
    <delete id="deleteUser" parameterType="Long">
    	DELETE
		FROM user
		WHERE id = #{id}
    </delete>
    
    <select id="selectUser" parameterType="Long" resultMap="userResultMap">
		SELECT 
			id
			,email
			,cell_phone_no
			,birth_date
		  FROM user
		  WHERE id = #{id}
    </select>
	
	<select id="selectUserList" resultMap="userResultMap">
		SELECT 
			id
			,email
			,cell_phone_no
			,birth_date
		  FROM user
	</select>
    
</mapper>