<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="kr.whenever.repo.mapper.WrongMapper">
	<resultMap id ="wrongResultMap" type="Wrong" >
		<id		property ="uid" column="USER_ID" />
		<id 	property ="qid" column="QUIZ_ID" />
	</resultMap>
	
	<insert id="insertWrong" parameterType="Wrong">
		INSERT INTO W_WRONG_NOTE (
			USER_ID
			,QUIZ_ID
			)
		VALUES (
			#{uid}
			,#{qid}
			)
	</insert>
	
	<update id="updateWrong" parameterType="Wrong">
		UPDATE W_WRONG_NOTE 
		SET
			USER_ID = #{uid}
			,QUIZ_ID = #{qid}
		WHERE USER_ID = #{uid};
	</update>
	
	<delete id="deleteWrong" parameterType="String">
		DELETE 
		FROM W_WRONG_NOTE
		WHERE USER_ID = #{uid} AND QUIZ_ID = #{qid}
	</delete>
	
	<select id="selectWrong" parameterType="String" resultMap="wrongResultMap">
		SELECT 
			USER_ID
			,QUIZ_ID
		FROM W_WRONG_NOTE
		WHERE USER_ID = #{uid} AND QUIZ_ID = #{qid}
	</select>
	
	<select id="selectWrongs" resultMap="wrongResultMap">
		SELECT
			USER_ID
			,QUIZ_ID
		FROM W_WRONG_NOTE
		WHERE USER_ID = #{uid}
	</select>
	
	<select id="selectAll" resultMap="wrongResultMap">
		SELECT
			USER_ID
			,QUIZ_ID
		FROM W_WRONG_NOTE
	</select>
	
</mapper>