<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
   
   
<mapper namespace="kr.whenever.mybatis.mapper.UserMapper">
    <insert id="insertUser" parameterType="User">
        INSERT INTO user (
        	id
        	,email
        	,cell_phone_no
        	,birth_date
        	)
        VALUES (
        #{id}
        ,#{email}
        ,#{cellPhoneNo}
        ,#{birthDate}
        )
    </insert>
</mapper>